body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.login-content {
  display: flex;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  width: 800px;
  max-width: 100%;
}

.login-image-container {
  flex: 1;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-image {
  max-width: 100%;
  height: auto;
}

.login-form {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-header {
  margin-bottom: 30px;
}

.form-header h1 {
  font-size: 2em;
  color: #333333;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.login-button, .signup-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.login-button {
  background-color: #4facfe;
  color: #ffffff;
}
.login-button:hover {
  background-color:#00f2fe;
  color: black;
}

.signup-button {
  background-color: #00f2fe;
  color: #ffffff;
}
.signup-button:hover{
  background-color: #4facfe;
  color: black;
}

.social-media {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-media-icon {
  margin: 0 10px;
  font-size: 1.5em;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-media-icon:hover {
  color: #00f2fe;
}
