.privacy-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    font-family: Arial, sans-serif;
    /* background-color: lightblue; */
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  h2 {
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  p, ul {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
  }
  
  ul {
    list-style-type: disc;
    padding-left: 1.5rem;
  }
  .image-container {
    position: relative;
    width: 100%;
    height: 400px; /* Adjust the height as needed */
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
  }
  
  /* .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-align: center;
  } */